@import '../abstracts/variables';
@import '../abstracts/utils';

@import '~include-media/dist/include-media';

.footer-img {
    width: 7rem;
}

.footer-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    min-height: 3rem;
    background-color: #574141;
    padding: 8rem;


    .footer-content {
        font-size: 1rem;
        display: flex;
        justify-content: space-around;
        color: #8d6262;

        opacity: 70%;

        width: 100%;
        @include media('<800px') {
            flex-direction: column;
            height: 100%;
        }

        .footer-item {
            margin: 10px 0;
            .footer-item-title {
                margin-bottom: 1rem;

                color: #bfa5a4;
            }
            span {
                color: #bfa5a4;

                margin: 1px 0;
            }
        }
    }
}

.word-break {
    white-space: normal;
}
