@import '../abstracts/variables';
@import '../abstracts/utils';
@import '~include-media/dist/include-media';

.sidebar-all {
    width: 100%;
    background-color: #e0e0e0;
}

.sidebar-container {
    background-color: #e0e0e0;
    // border-right: 2px solid white;

    // color: $color-primary;
    display: flex;
    gap: 10px;

    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: space-between;

    .sidebar-list {
        width: 100%;

        height: fit-content;
        .sidebar-theme-list {
            display: flex;
            flex-direction: column;
            .theme-flex {
                display: flex;
                flex-direction: column;
                @include media('<900px') {
                    flex-direction: row;
                    width: 100%;
                }
                .theme-title {
                    width: 100%;
                    padding: 10px 0;

                    @include media('<900px') {
                        width: 35vw;
                    }

                    display: flex;
                    justify-content: center;
                    background-color: $color-primary;
                    color: white;
                }

                @include media('<900px') {
                    .mission-res {
                        width: 65vw;
                    }
                }

                .mission-flex {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 100%;
                }
            }
            .mission-title {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                background-color: $color-primary;
                color: white;
                opacity: 50%;
                // font-weight: 700;
                padding: 7px 0;
            }
        }
    }
}

@include media('<900px') {
    .sidebar-theme {
        margin: 7px 15px;
    }
}
.sidebar-content {
    display: flex;
    width: 100%;
    height: fit-content;
    .board-content {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        @include media('<900px') {
            width: 65vw;
            flex-direction: row;
            .sidebar-theme {
                margin: 7px 15px;
            }
        }
    }
    .progress-mission {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include media('<900px') {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
        }
    }
}

// 모임장 사이드바
.leader-menu {
    padding: 0;
    color: $color-gray7;

    li {
        padding: 0.2rem 0;
        font-weight: bold;
    }
}

.member-menu,
.leader-menu {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    li {
        padding: 0.4rem 0;
    }
}

.leader-edit {
    transition: 0.3s all;
    display: flex;
    justify-content: center;
}
.leader-edit:hover {
    transition: 0.3s all;
}

.leader-warning,
.member-leave {
    color: $color-gray5;
    opacity: 0.5;
    @include media('<900px') {
        padding: 5px 25px;
    }
}

.member-menu {
    @include media('<900px') {
        padding: 5px 65px;
    }
}
.leader-warning:hover {
    color: $color-warning-menu;
    transition: 0.3s all;
    opacity: 0.9;
}

.member-leave:hover {
    color: $color-warning-menu;
    transition: 0.3s all;
    opacity: 0.9;
}

.leader-content {
    @include media('<900px') {
        // width: 100%;
        display: flex;
        align-items: center;
        padding: 5px 25px;
    }
}

// 드롭 다운 기능 구현
.dropbtn {
    display: none; //900px 이상에서는 안 보이도록
    width: 100%;
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
// 900px 이하에서만 드롭다운 할 수 있도록
@include media('<900px') {
    .dropbtn {
        display: inherit;
    }
    .dropdown {
        float: left;
        overflow: hidden;
    }

    .dropdown .dropbtn {
        width: 100vw;
        border: none;
        outline: none;
        color: white;
        background-color: $color-primary;
        font-family: inherit;
        margin: 0;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .dropdown:hover .dropdown-content {
        display: block;
        z-index: 100;
    }
}

.sidebar-theme {
    margin: 7px 15px;
}

.empty-side-bar {
    height: 5vh;
}

.side-bar-leader-member {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e9e9e9;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

// body {
//   --main-bg: #f5f4fd;
//   --item-hover: #f9f8fb;
//   --secondary-bg: #251d33;
//   --main-container-bg: #fff;
//   --container-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
//   --text-color: #00071d;
// }

// body.dark {
//   --main-bg: #00071d;
//   --item-hover: #1c2339;
//   --secondary-bg: #36415e;
//   --main-container-bg: #131c31;
//   --text-color: #fff;
//   --tooltip-bg: #251d33;
//   --container-shadow: rgba( #131c31, 0.2) 0px 7px 29px 0px;
// }

// html, body {
//   width: 100%;
//   margin: 0;
//   height: 100%;
//   font-family: 'Poppins', sans-serif;
// }

// body {
//   background-color: var(--main-bg);
//   transition: .3s ease-in-out;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

.sidebar {
    &-wrapper {
        display: flex;
        flex-direction: column;
        height: 100%;

        @media screen and (max-height: 520px) {
            overflow-y: auto;
            overflow-x: hidden;
        }
    }
    &-container {
        // background-color: #aaa;
        background-color: #e0e0e0;
        box-shadow: #eee;
        border-radius: 10px;
        padding: 16px;
        transition: width 0.3s ease-in-out;
        position: relative;
        // width: 240px;
        width: 80%;
        padding-left: 1rem;
        height: 100vh;
        max-height: 600px;

        &.shrink {
            width: 92px;
        }
    }

    &-themeInput {
        opacity: 0;
        width: 0;
        height: 0;
        position: absolute;
    }

    &-themeInputText {
        font-size: 14px;
        opacity: 1;
        transform: translatex(0);
        transition: 0.2s ease-in-out;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        .shrink & {
            width: 0;
            opacity: 0;
            transform: translatex(-8px);
        }
    }

    &-themeType {
        // width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 12px 8px;
        text-align: center;
        z-index: 1;
        flex-shrink: 0;
        line-height: 20px;

        .shrink & {
            width: 100%;
        }
    }

    &-themeContainer {
        padding: 4px;
        border-radius: 4px;
        color: var(--text-color);
        overflow: hidden;
        background-color: var(--main-bg);
        overflow: hidden;
        flex-shrink: 0;
    }

    &-themeLabel {
        display: flex;
        justify-content: space-between;
        position: relative;
        cursor: pointer;

        svg {
            width: 18px;
            height: 18px;
        }
        &.switched {
            .shrink & .light {
                display: none;
            }
            &:before {
                left: 50%;
                .shrink & {
                    left: 2px;
                }
            }
        }

        &:not(.switched) .shrink & .dark {
            display: none;
        }
        &:before {
            content: '';
            position: absolute;
            z-index: 0;
            display: inline-block;
            width: calc(50% - 2px);
            height: calc(100% - 4px);
            border-radius: 4px;
            background-color: var(--main-container-bg);
            left: 2px;
            top: 50%;
            transform: translatey(-50%);
            transition: left 0.3s ease;

            .shrink & {
                width: calc(100% - 4px);
            }
        }
    }

    &-viewButton {
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: none;
        right: -26px;
        // top: 32px;
        display: flex;
        align-items: center;
        padding: 0;
        cursor: pointer;
        transition: 0.3s ease-in-out;
        color: #fff;
        box-shadow: #eee;
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            opacity: 0.8;
        }
        svg {
            width: 16px;
        }
        .shrink & {
            transform: rotatey(-180deg);
        }
    }

    &-list {
        list-style: none;
        padding: 0;
        margin: 12px 0 0;
    }

    &-listItem {
        color: var(--text-color);
        display: flex;
        align-items: center;
        animation: fadeInItem 0.6s forwards;
        transition: background 0.2s ease-in;
        transform: translatex(-16px);
        opacity: 0;
        padding: 8px 0;
        position: relative;

        .shrink & span {
            visibility: hidden;
        }
        &.active a {
            background-color: var(--main-bg);
        }
        &:not(.active) a:hover {
            background-color: var(--item-hover);
        }
        &:hover .sidebar-listItemText {
            display: inline-block;
            opacity: 1;
            left: calc(100% + 8px);
            visibility: visible;
        }
        + li {
            border-top: 1px solid var(--item-hover);
        }
        a {
            width: 100%;
            padding: 20px;
            border-radius: 4px;
            display: flex;
            align-items: center;
            cursor: pointer;
        }
    }

    &-listIcon {
        width: 20px;
        height: 20px;
        display: inline-block;
        margin-right: 8px;
        flex-shrink: 0;

        .shrink & {
            margin-right: 0;
        }
    }

    &-profileSection {
        display: flex;
        align-items: center;
        margin-top: auto;
        border: 1px solid var(--item-hover);
        padding: 8px 10px;
        border-radius: 28px;
        overflow: hidden;
        height: 60px;
        flex-shrink: 0;
        transition: background 0.3s ease-in-out;
        cursor: pointer;

        &:hover {
            background-color: var(--item-hover);
        }

        img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
            margin-right: 8px;
            flex-shrink: 0;
        }

        span {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: var(--text-color);
        }

        .shrink & span {
            display: none;
        }
        .shrink & {
            border-radius: 50%;
        }
    }

    &-listItemText {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 20px;
    }
}

.shrink .sidebar-listItemText {
    position: absolute;
    padding: 8px;
    left: 100%;
    opacity: 0;
    background-color: var(--secondary-bg);
    color: #fff;
    font-size: 12px;
    border-radius: 4px;
    transition: left 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

@for $i from 0 through 5 {
    .sidebar-listItem:nth-child(n + #{$i}) {
        animation-delay: $i * 0.2s;
    }
}

@keyframes fadeInItem {
    100% {
        transform: translatex(0px);
        opacity: 1;
    }
}
