@import '../../abstracts/variables';
@import '../../abstracts/utils';
@import '~include-media/dist/include-media';

.join-container {
    display: flex;
    justify-content: space-between;
    height: 80vh;
}
.join-title {
    margin-bottom: 5%;
}

#nickname-h3 {
    font-weight: bold;
    margin-right: 5%;
}
#interested-h3 {
    font-weight: bold;
}
img {
    @include box(100%);
}

.nickname-sub-div {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
}

.interested-div {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 30px 0;
    // display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    // gap: 16px;
}
.interested-div-one {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.interested-div-two {
    display: flex;
    justify-content: center;
    width: 100%;
}

.interested-p {
    color: $color-gray4;
    padding: 1rem;
}

.character-sub-div {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    margin-bottom: 5%;
}
