@import '../abstracts/variables';
@import '../abstracts/utils';
@import '~include-media/dist/include-media';

//=== 공통 ===
button {
    cursor: pointer;
    font: inherit;
    margin: 0;
    padding: 0;
    padding: 1rem 2rem;
    margin: 1rem 1rem;
    border-radius: 15px;
    box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.1);
}

//=== 버튼 크기별 ===
// sm md lg xl

.btn-sm {
    background-color: $color-primary;
    color: $color-white;
    border: none;
    padding: 10px;
}

.btn-md {
    background-color: $color-primary;
    color: $color-white;
    border: none;
    padding: 1rem 1.2rem;
    font-size: 1.1rem;
}

.btn-lg {
    background-color: $color-primary;
    color: $color-white;
    border: none;
    padding: 5px 20px;
    margin: 20px 0;
    font-size: 1.6rem;
    width: 59rem;
}

.btn-fixed {
    background-color: $color-primary;
    color: $color-white;
    border: 0;
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    width: 30rem;
    z-index: 10;
    justify-content: center;
    margin: auto;
    box-shadow: 0px 1.7px 2.2px rgba(0, 0, 0, 0.02),
        0px 4px 5.3px rgba(0, 0, 0, 0.028), 0px 7.5px 10px rgba(0, 0, 0, 0.035),
        0px 13.4px 17.9px rgba(0, 0, 0, 0.042),
        0px 25.1px 33.4px rgba(0, 0, 0, 0.05), 0px 60px 80px rgba(0, 0, 0, 0.07);

    @include media('<550px') {
        width: 70%;
        font-size: 16px;
        padding: 15px 5px;
        left: 50%;
    }
}

.plus-fixed {
    bottom: 20%;
    right: 13%;
    bottom: 15%;
    z-index: 10;
    width: 100px;
    height: 100px;
    cursor: pointer;
    border-radius: 50%;

    @include media('<800px') {
        right: 10%;
        bottom: 20%;
        @include box(70px);
    }
}

.plus-text {
    display: inline-block;
    opacity: 0;
    transition: opacity 0.4s;
    background-color: white;
    padding: 1rem;
    height: 2.6rem;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 그림자 추가 */

    position: relative;
    bottom: 30%;
    left: 4%;
}

.plus-fixed-wrapper:hover {
    transition: all 0.4s;
    .plus-text {
        opacity: 1;
    }
}

.done-btn {
    height: 4rem;
    white-space: nowrap;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    @include media('<800px') {
        width: 20%;
        font-size: 1rem;
    }
}

.cmt-edit-btn {
    white-space: nowrap;
}
.cmt-del-btn {
    white-space: nowrap;
}
//=== 빵빠레 버튼 ,,, ====
// * {
//     box-sizing: border-box;
// }

// body {
//     background-color: #f5f8ff;
//     font-family: 'Roboto', sans-serif;
//     line-height: 1.5;
//     min-block-size: 100vh;
//     display: grid;
//     place-items: center;
// }

// .button {
//     background-color: #404663;
//     color: #fff;
//     border: 0;
//     font-size: 2rem;
//     font-weight: 400;
//     padding: 0.5em 1.25em;
//     border-radius: 0.5em;
//     z-index: 999;
//     position: relative;
//     display: flex;
//     gap: 0.5em;
//     box-shadow: 0px 1.7px 2.2px rgba(0, 0, 0, 0.02),
//         0px 4px 5.3px rgba(0, 0, 0, 0.028), 0px 7.5px 10px rgba(0, 0, 0, 0.035),
//         0px 13.4px 17.9px rgba(0, 0, 0, 0.042),
//         0px 25.1px 33.4px rgba(0, 0, 0, 0.05), 0px 60px 80px rgba(0, 0, 0, 0.07);
// }

// .button:active {
//     transform: scale(1.01);
// }
