@import '../abstracts/variables';
@import '../abstracts/utils';

@font-face {
    font-family: 'Pretendard-Light';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff')
        format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
        format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Bold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
        format('woff');
    font-weight: 400;
    font-style: normal;
}

*,
*::before,
*::after :not(.errMsg-div) {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Pretendard-Regular;
    white-space: nowrap;
    letter-spacing: 0.1em;
}

html,
body {
    width: 100%;
    // height: 100%;
    overflow-x: hidden;
    margin: 0;
}

body {
    font-family: ‘Noto Sans KR’;
}

div#__next {
    width: 100%;
    height: 100%;
}

a {
    color: inherit;
    text-decoration: none;
    text-decoration-line: none;
}

/* http://meyerweb.com/eric/tools/css/reset/
     v2.0 | 20110126
     License: none (public domain)
  */
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: transparent;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul,
li {
    list-style: none;
}

button {
    cursor: pointer;
    font-family: inherit;
}

img {
    user-select: none;
}

.character-div {
    border: 2px solid #ed8d8d;
    border-radius: 15px;
    padding: 10px;
    width: fit-content;
}

.canvas {
    height: 100vh;
    left: 0px;
    pointer-events: none;
    position: fixed;
    top: 0px;
    width: 100vw;
}

.section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    // background-color: $color-gray1;
    
    height: 100%;
    width: 100%;
    padding: 6rem 0 3rem 0;
}
