@import '../../components/buttons.scss';
@import '../../abstracts/variables';
@import '../../abstracts/utils';

.main-mission-div {
    background-color: $color-white;
    height: 65%;
    padding: 1rem 1rem;

    .mission-btn-to-group {
        padding: 1rem;
        margin: 1rem 1rem;
        border-radius: 15px;
        box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.1);
        width: 35vw;
    }
}

.mission-grid {
    display: flex;
    width: 100%;
    justify-content: center;
}
