$color-primary: #ed8d8d;
$color-logo: #b45e5e;
$color-warning: #e20606;
$color-warning-menu: #b80000;

// 관심분야
$color-exercise: #ff6d59;
$color-reading: #ffcc77;
$color-language: #83cb77;
$color-IT: #ff7373;
$color-study: #7fbeeb;
$color-license: #f399ca;
$color-economy: #b78be3;
$color-etc: #c4c4c4; // gray3

// 404 page
$color-err-txt: #704f4f;

// gray scale
$color-white: #fff;
$color-gray0: #fdfdfd;
$color-gray1: #f3f3f3;
$color-gray2: #d9d9d9;
$color-gray3: #c4c4c4;
$color-gray4: #acacac;
$color-gray5: #999999;
$color-gray6: #8f8c8c;
$color-gray7: #767676;
$color-gray8: #4f4f4f;
$color-black: #000;

// 소셜 로그인 버튼 (1) 구글
$color-gg-blue: #4285f4;
$color-gg-red: #ea4335;
$color-gg-green: #34a853;
$color-gg-yellow: #fbbc05;
// 소셜 로그인 버튼 (2) 카카오
$color-kk-yellow: #fee500;
// 소셜 로그인 버튼 (3) 네이버
$color-nv-green: #02c75a;
