@import '../abstracts/variables';
@import '../abstracts/utils';

.main1-div {
    width: 100%;
    height: 100%;
    margin-bottom: 30px;

    .main-img-div {
        width: 100%;
        position: relative;
        .upload-img {
            width: 100%;
            height: 20vh;
        }

        .upload-img-icon {
            width: 36px;
        }

        label {
            cursor: pointer;
            z-index: 20;
            position: absolute;
            bottom: 0;
            right: 0;
        }

        input {
            display: none;
        }
    }
}

// 명언  CSS
.sample2 {
    width: 480px;
    margin: 50px auto;
}

.sample2 blockquote {
    position: relative;
    border: 1px solid $color-white;
    border-radius: 10px;
    padding: 20px;
    background-color: $color-gray3;
    color: $color-white;
}
.sample2 blockquote:before {
    position: absolute;
    font-family: 'FontAwesome';
    content: '\f10d';
    font-size: 20px;
    color: $color-white;
    top: 10px;
    left: 10px;
}
.sample2 blockquote:after {
    position: absolute;
    font-family: 'FontAwesome';
    content: '\f10e';
    font-size: 20px;
    color: $color-white;
    right: 10px;
    bottom: 10px;
}
.sample2 blockquote cite {
    display: block;
    font-size: 0.8rem;
    text-align: right;
    color: $color-white;
    padding-right: 20px;
}

.section-main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    // background-color: $color-gray1;
    height: fit-content;
    width: 100%;
    padding: 6rem 0 3rem 0;
}
